////////////////////////////////////////////////////////////////////////// Fonts
// -----------------------------------------------------------------------------
@import 'normalize';
@import 'grid/gridlex-2.7.1';

$fontAssetPath: '~assets/fonts';

// -------------------------------------------------------- Suisse International
@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

// --------------------------------------------------- Suisse International Mono
@font-face {
  font-family: 'SuisseIntlMono';
  src: url('#{$fontAssetPath}/suisse-intl-mono/SuisseIntlMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

// -------------------------------------------------------------- Helvetica Neue
@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$fontAssetPath}/helvetica-neue/HelveticaNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$fontAssetPath}/helvetica-neue/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// ----------------------------------------------------------------- Inconsolata
@font-face {
  font-family: 'Inconsolata';
  src: url('#{$fontAssetPath}/inconsolata/Inconsolata-Variable.ttf') format('truetype');
  font-weight: 200 900;
}

//////////////////////////////////////////////////////////////////////// General
//------------------------------------------------------------------------------
html,
body {
  &.no-scroll {
    overflow-y: hidden;
  }
  &.no-cursor {
    cursor: none;
  }
}

body {
  @include selection-light;
  padding: 0;
  margin: 0;
  height: auto;
  color: $titanWhite;
  font-family: $fontSuisseIntl;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0px;
  background-color: $aztec;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

strong {
  font-weight: 500;
}

a,
ol,
ul,
li,
div,
nav,
span,
input,
label,
video,
button,
section,
textarea,
figcaption,
select option,
h1, h2, h3, h4, h5, h6,
input[type=tel],
input[type=url],
input[type=text],
input[type=time],
input[type=week],
input[type=date],
input[type=month],
input:not([type]),
input[type=color],
input[type=email],
input[type=number],
input[type=search],
input[type="radio"],
input[type=datetime],
input[type=password],
input[type="submit"],
input[type="checkbox"],
input[type=datetime-local] {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  box-sizing: border-box;
}

textarea,
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  @include placeholder {
    opacity: 0.5;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
  }
  &:hover, &:active, &:focus {
    background-color: transparent;
  }
}

a,
input[type="button"],
button, .button {
  outline: none;
  &:hover, &:active, &:focus {
    outline: none;
    background-color: transparent;
  }
}

textarea {
  background-color: transparent;
  resize: none;
  transition: 250ms;
  &:active, &:focus, &:hover {
    transition: 250ms;
    background-color: transparent;
  }
}

ol, ul {
  margin: 0;
}

img {
  display: block;
}

a,
button, .button {
  font-family: inherit;
  color: inherit;
  outline: none;
  text-decoration: none;
  position: relative;
  transition: 250ms;
  &:active, &:focus, &:hover {
    transition: 250ms;
    outline: none;
    color: inherit;
  }
}

button, .button {
  transition: 250ms;
  &:active, &:focus, &:hover {
    transition: 250ms;
  }
}

p,
div,
button {
  margin-top: 0;
  margin-bottom: 0;
}

p,
div,
button {
  line-height: inherit;
}

small.error,
span.error {
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 0.875rem;
  background-color: transparent;
  color: red;
  span {
    padding: 0.375rem 0.5625rem 0.5625rem;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

::-webkit-file-upload-button {
  cursor: pointer;
}

//////////////////////////////////////////////////////////////////////// General
//------------------------------------------------------------------------------
#__nuxt {
  position: relative;
  z-index: 2;
}

#__layout {
  .master-container {
    position: relative;
  }
}

.layout {
  position: relative;
  z-index: 100;
}

[class~="grid"],
[class*="grid-"],
[class*="grid_"] {
  width: $containerWidth;
  margin: 0 auto;
  @include containerMaxMQ {
    padding: 0 4.1665%;
    width: 100%;
  }
  [class~="grid"],
  [class*="grid-"],
  [class*="grid_"] {
    width: 100%;
    padding: 0;
  }
  &[class*="-noGutter"] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.no-padding {
    padding: 0;
  }
}

.magnify-onhover {
  transition: 250ms ease-out;
  &:hover {
    transition: 250ms ease-in;
    transform: scale(1.05);
  }
}

///////////////////////////////////////////////////////////////////// Components
//------------------------------------------------------------------------------
[data-tooltip] {
  position: relative;
  &:hover {
    &:before,
    &:after {
      transition: 150ms ease-in;
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  &:before,
  &:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0.5rem);
    pointer-events: none;
    opacity: 0;
    transition: 150ms ease-out;
  }
  &:before {
    content: '';
    top: calc(100% + 2px);
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.375rem solid $mineralGreen;
  }
  &:after {
    content: attr(data-tooltip);
    top: calc(100% + 0.5rem);
    background-color: $mineralGreen;
    font-family: inherit;
    font-size: 0.625rem;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    border-radius: 1.5rem;
  }
}

.chevron {
  position: relative;
  right: 2px;
  width: 0.5rem;
  height: 0.5rem;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: black;
  transition: 250ms ease-out;
  &.up,
  &.down {
    transition: 250ms ease-in;
  }
  &.up {
    transform: translateY(2px) rotate(-45deg);
  }
  &.down {
    transform: translateY(-2px) rotate(135deg);
  }
}

.toast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $titanWhite;
  background-color: $aztec;
  padding: 1rem;
  border-radius: 3rem;
  .icon {
    display: none;
  }
  .message {
    font-weight: 500;
  }
}

.bubble {
  position: relative;
  padding: 1rem 3.125rem;
  border: 2px solid $titanWhite;
  border-radius: 4rem;
  line-height: 1;
  @include mini {
    border: 1.5px solid $titanWhite;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -2px;
    height: 100%;
  }
  &:before {
    width: calc(100% + 1.25rem);
    border: inherit;
    border-radius: inherit;
    @include mini {
      width: calc(100% + 0.5rem);
    }
  }
  &:after {
    width: calc(100% + 2.75rem);
    border: inherit;
    border-radius: inherit;
    @include mini {
      width: calc(100% + 1rem);
    }
  }
  &.right {
    &:before {
      right: calc(-1.25rem - 2px);
      @include mini {
        right: calc(-0.5rem - 1.5px);
      }
    }
    &:after {
      right: calc(-2.75rem - 2px);
      @include mini {
        right: calc(-1rem - 1.5px);
      }
    }
  }
  &.left {
    &:before {
      left: calc(-1.25rem - 2px);
      @include mini {
        left: calc(-0.5rem - 1.5px);
      }
    }
    &:after {
      left: calc(-2.75rem - 2px);
      @include mini {
        left: calc(-1rem - 1.5px);
      }
    }
  }
}

.warp-image-double {
  margin-top: -3px;
}

.z-index-100 {
  position: relative;
  z-index: 100;
}

.z-index-50 {
  position: relative;
  z-index: 50;
}

// ///////////////////////////////////////////////// Markdown content formatting
//------------------------------------------------------------------------------
@keyframes shrink-bounce {
  0% { transform: scale(1); }
  33% { transform: scale(0.85); }
  100% { transform: scale(1); }
}

.markdown, .markdown-user-input {
  h1, h2, h3, p, ul, ol, pre {
    + h2, + h3 {
      margin-top: 3.75rem;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
    + ul, + ol {
      margin-top: 2rem;
    }
  }
  h1,
  h2 {
    font-size: toRem(35);
    line-height: leading(40, 35);
  }
  h3 {
    font-size: toRem(30);
    line-height: leading(35, 30);
  }
  h4 {
    font-size: toRem(24);
    line-height: leading(30, 24);
  }
  h5, h6 {
    font-size: toRem(20);
    line-height: leading(24, 20);
  }
  p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: leading(35, 18);
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  a {
    font-size: 1.125rem;
    line-height: leading(35, 18);
    color: $greenYellow;
    font-weight: 500;
    border-bottom: 1px solid rgba($greenYellow, 0);
    transition: 200ms ease;
    &:hover {
      border-bottom: 1px solid rgba($greenYellow, 1);
    }
  }
  hr {
    margin-bottom: 2rem;
  }
  button:not(.copy-heading-button) {
    white-space: nowrap;
    font-size: toRem(20);
    font-weight: 500;
    padding: 0.625rem 1.125rem;
    border-radius: 2.5rem;
    border: 2px solid white;
    cursor: pointer;
    margin-bottom: 2rem;
    &:not([disabled]) {
      &:focus-visible {
        @include focusBoxShadow;
      }
    }
    &[disabled] {
      box-shadow: none;
      cursor: no-drop;
    }
  }
  pre,
  code {
    font-family: $fontSuisseIntlMono;
    background-color: $aztec;
    color: white;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }
  pre code {
    padding: 0;
    background-color: transparent;
  }
  code {
    word-break: break-all;
    white-space: break-spaces;
    border-radius: 0;
    &::-moz-selection { background: $titanWhite; color: $aztec; }
    &::selection { background: $titanWhite; color: $aztec; }
  }
  ul, ol {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    li {
      margin-bottom: 1rem;
    }
    ul, ol {
      margin-top: 1rem;
    }
  }
  ul {
    li {
      list-style: none;
      padding-left: 1.75rem;
      margin-bottom: 1rem;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: leading(35, 18);
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        left: calc(-1.75rem + 2px + 9px);
        width: 7px;
        height: 7px;
        margin-left: -9px;
        border-radius: 50%;
        background-color: white;
      }
      li {
        &:before {
          background-color: transparent;
          border: 1px solid white;
        }
      }
    }
  }
  ol {
    padding-left: 1.375rem;
  }
  // ///////////////////////////////////////////////////////////// Heading Links
  .copy-heading-button-container {
    display: flex;
    flex-direction: row;
    position: relative;
    &:hover {
      .copy-heading-button {
        display: flex;
        animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
      }
    }
    .copy-heading-button {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 9px;
      right: 100%;
      padding: 0 0.5rem;
      cursor: pointer;
      z-index: 20;
      @include tiny {
        display: flex;
      }
    }
    svg {
      width: 1.25rem;
    }
    h1, h2, h3, h4, h5, h6 {
      position: relative;
      padding-left: 2.25rem;
      margin-left: -2.25rem;
    }
  }
}

// ///////////////////////////////////////////////////////// User Input Markdown
.markdown-user-input {
  h1, h2, h3, p, ul, ol, pre {
    + h2, + h3 {
      margin-top: unset;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: toRem(5);
    + ul, + ol {
      margin-top: toRem(12);
    }
  }
  h1,
  h2 {
    @include h5;
  }
  h3 {
    font-size: toRem(16);
    line-height: leading(25, 16);
    font-weight: 500;
  }
  p {
    font-size: toRem(16);
    line-height: leading(25, 16);
    font-weight: 400;
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  a {
    font-size: toRem(18);
    line-height: leading(30, 18);
    color: $mandysPink;
    padding-bottom: .25rem;
    &:hover {
      border-bottom: 2px solid $nandor;
      transition: none;
    }
  }
  ol,
  ul > li {
    font-size: toRem(16);
    line-height: leading(25, 16);
  }
  blockquote {
    border-left: 3px solid $nandor;
    margin-left: toRem(26);
    padding-left: toRem(16);
    margin-right: toRem(45);
  }
}
