// ////////////////////////////////////////////////////////////////// Typography
// =============================================================================
// -------------------------------------------------------------------- Families
$fontSuisseIntl: 'SuisseIntl', sans-serif, monospace;
$fontSuisseIntlMono: 'SuisseIntlMono', sans-serif, monospace;
$fontHelveticaNeue: 'HelveticaNeue', sans-serif, monospace;
$fontInconsolata: 'Inconsolata', sans-serif, monospace;

// --------------------------------------------------------------------- Leading
@function leading($lineHeight, $fontSize) {
  @return math.div(math.round(10 * math.div($lineHeight, $fontSize)), 10);
}

// ////////////////////////////////////////////////////////////////////// Mixins
// =============================================================================

@mixin h1 {
  font-size: toRem(80);
  line-height: leading(50, 80);
  font-weight: 500;
}

@mixin h2 {
  font-size: toRem(60);
  line-height: leading(105, 60);
  font-weight: 500;
}

@mixin h3 {
  font-size: toRem(35);
  line-height: leading(50, 35);
  font-weight: 500;
}

@mixin h4 {
  font-size: toRem(24);
  line-height: leading(35, 24);
  font-weight: 500;
}

@mixin h5 {
  font-size: toRem(20);
  line-height: leading(30, 20);
  font-weight: 500;
}

@mixin h6 {
  font-size: toRem(18);
  line-height: leading(30, 18);
  font-weight: 500;
}

@mixin p1 {
  font-size: toRem(18);
  line-height: leading(35, 18);
  font-weight: 400;
}

@mixin p2 {
  font-size: toRem(16);
  line-height: leading(30, 16);
  font-weight: 400;
}

@mixin p3 {
  font-size: toRem(14);
  line-height: leading(30, 14);
  font-weight: 400;
}

@mixin special {
  font-size: toRem(18);
  line-height: leading(30, 18);
  font-weight: 400;
  font-style: italic;
}

@mixin button {
  font-size: toRem(18);
  line-height: leading(70, 18);
  font-weight: 400;
}

@mixin p2Link {
  @include p2;
  color: $mandysPink;
}

@mixin headingHighlight {
  font-size: toRem(35);
  line-height: leading(50, 35);
  font-weight: 500;
  color: $mandysPink;
}


// ////////////////////////////////////////////////////////////////////// Sizing
// =============================================================================
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: none;
}

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h6;
}

.p2 {
  @include p2;
}

p,
.p1,
div,
a,
button {
  @include p1;
}

// ////////////////////////////////////////////////////////////////////// Mixins
// =============================================================================

@mixin h1 {
  font-size: toRem(80);
  line-height: leading(50, 80);
  font-weight: 500;
}

@mixin h2 {
  font-size: toRem(60);
  line-height: leading(105, 60);
  font-weight: 500;
}

@mixin p2 {
  font-size: toRem(16);
  line-height: leading(30, 16);
}

@mixin h5 {
  font-size: toRem(20);
  line-height: leading(30, 20);
  font-weight: 500;
}

@mixin headingHighlight {
  font-size: toRem(35);
  line-height: leading(50, 35);
  font-weight: 500;
  color: $mandysPink;
}

@mixin linkUnderline {
  cursor: pointer;
  color: $greenYellow;
  text-decoration: none;
  box-sizing: border-box;
  background-image:
  linear-gradient(0deg, $greenYellow, $greenYellow);
  background-size: 0 1px;
  background-position: 0 95%;
  transition: all 150ms ease-in;
  padding: 0 0 3px;
  background-repeat: no-repeat;
  animation: link-effect-in 150ms both linear;
  &:hover {
    animation: link-effect-out 150ms both linear;
  }
}

@keyframes link-effect-out {
  from {
  background-size: 0 1px;
  }
  to {
    background-size: 100% 1px;
  }
}

@keyframes link-effect-in {
  from {
  background-size: 100% 1px;
  }
  to {
    background-size: 0 1px;
  }
}
